@font-face {
    font-family: "Aclonica-Regular";
    src: url("../fonts/Aclonica-Regular.ttf");
}

* {
    border: 0px solid red;
    margin: 0px;
}

.flex-container {
    display: flex;
}

body {
    background-image: url("../images/butcherboard.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}
.flex-container.bg {
    flex: 1 1 auto;
/*     color: transparent; */
    height: auto;
    width: 100vw;
    justify-content: center;
}

.flex-container.sheet {
    flex-direction: column;
    background: white;
    -webkit-box-shadow: -1px 1px 5px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 12px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 5px 12px rgba(0,0,0,0.75);
    min-height: 100vh;
    height: auto;
    width: 1000px;
}

.flex-container.box {
    flex-direction: row;
    flex: 0 1 auto;
    justify-content: left;
    padding: 5px;
    gap: 10px;
}

.flex-container.recipe-image {
    flex: 1 1 auto;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.flex-container.footer {
    flex: 1 1 auto;
    min-height: 70px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding-bottom: 5px;
}

.license {
    height: 30px;
    width: auto;
}

p, li, h2 {
    font-family: Arial;
    font-size: 16pt;
}



